In [24]:
import pandas as pd
import math

estacao = pd.read_csv("C:/Users/leanderson/Desktop/estagio - yasmin/correcao.csv")

print(estacao)
display(estacao)

h    = 2
tbs = 30
pressao = 1020
N = 12 

#tbs = media do bulbo seco de 12 horarios (das ultimas 12 horas) 
#criar calculo para tbs


#Pr = A  pressão reduzida ao nível médio do mar [mb]
#Pe = A pressão  da estação (leitura do barômetro) [mb]
#TBS = média da temperatura do bulbo seco [°C], das últimas 12 horas 
#H = elevação (Altitude) da estação [m]
#Log = função logarítmica de base 10.


#media = ((temp1) + (temp2) + (temp3) + (temp4) + (temp5) + (temp6) + (temp7) + (temp8) + (temp9) + (temp10) 
#         + (temp11) + (temp12)) / N

correcao =  10 / ((1 / ((273.15 + tbs) / (0.01478 * h ) + 0.202977)) + (math.log(pressao)))


display(correcao)

         estações   altitude (M)
0           Angra               6
1         Arraial               5
2         Cambuci              46
3      Copacabana              25
4       Friburgo             1020
5      Goytacazes              17
6        Itatiaia            2450
7     Jacarepaguá              20
8           Macaé              28
9       Marambaia              12
10        Niterói               6
11         Paraty               3
12  pico do couto            1777
13       são Tomé               7
14      Saquarema              26
15     Seropédica              35
16   Silva Jardim              19
17    Teresópolis             981
18      Três rios             295
19        Valença             370
20   Vila Militar              30
21          Xerem              22

         estações   altitude (M)
0           Angra               6
1         Arraial               5
2         Cambuci              46
3      Copacabana              25
4       Friburgo             1020
5      Goytacazes              17
6        Itatiaia            2450
7     Jacarepaguá              20
8           Macaé              28
9       Marambaia              12
10        Niterói               6
11         Paraty               3
12  pico do couto            1777
13       são Tomé               7
14      Saquarema              26
15     Seropédica              35
16   Silva Jardim              19
17    Teresópolis             981
18      Três rios             295
19        Valença             370
20   Vila Militar              30
21          Xerem              22

1.4434898104246618